<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><!--插槽：vue中的内容分发-->
    <!---vue组件基础-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script><!--使用cdn的方式引入vue-->
    <div id="app">
        {{message}}
        <todo-list>
            <template v-slot><!--默认插槽--->
            <!--自定义事件 使用@+方法名-->
            <todo-item @delete="handleDelete" v-for="item in list" data-test="test" :title="item.title" :del="item.del">
            <span slot="pre-icon">前置图标</span><!--vue2.5语法-->
            <template v-slot:slot-test>
              <span>vue2.6版本之后的插槽简写</span>           
            </template>
            <template v-slot:pre-icon="{value}"><!--作用域插槽：返回组件的函数-->
                <span>前置图标{{value}}</span>
            </template>
           </todo-item>
            </template>
        </todo-list>
    </div>
    <script>
        Vue.component('todo-item',{
           props:{//给组件传参数
            title: String,
            del:{
                type: Boolean,
                default: false,
            },
           },
           //组件显示模板
           template: `
           <li>
             <slot name="pre-icon" :value="value"></slot>
             <span v-if="!del">{{title}}</span>
             <span v-else style="text-decoration: line-through;">{{title}}</span>
             <slot name="suf-icon">😀</slot>
             <slot name="slot-test"></slot>
             <button v-show="!del" @click="handleClick">删除</button><!--使用原生dom绑定事件的方式,使用@+事件名,比如@click-->
           </li>
           `, 
           data: function(){//为了不污染数据，闭包写法，返回给调用组件的数据
               return {
                   value:Math.random()
               }
           },
           methods:{//定义方法
           handleClick(){
               console.log('点击删除按钮');
               this.$emit('delete',this.title);//调用父组件中的事件方法
           }
           },  
        })
        Vue.component('todo-list',{
            template:`
            <ul>
              <slot></slot>
            </ul>
            `,
            data: function(){
                return {
                }
            }
        })
    var vm = new Vue({
        el: '#app',
        data:{
            message: 'hello world',
            list:[
                {
                    title:'课程1',
                    del:false
                },
                {
                    title:'课程2',
                    del:true
                }
            ],
        },
        methods:{
                handleDelete(val){
                   console.log('handleDelete',val); 
            }
        }
    })
    </script>
</body>
</html>